{
  "title":{
    "fimficStoryID": story_id,
    "authorID": author_id,
    "guildID": server_id,
    "channelName": target_channel_name,
    "mentionRole": target_role_name
  },
  "TEST_OBJECT_FIELD":{
    "authorID": test_author_id,
    "guildID": test_guild_id,
    "channelName": test_channel,
    "mentionRole": test_role
  }"
}